.field__graveyard {
  max-width: 50px;
  height: auto;
  background-color: #730f9e;
  padding: 10px 5px;
  box-shadow: 1px 1px 7px 0px grey;
  transition: transform .3s;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

.field__graveyard:hover {
  transform: translateY(-50%) scale(1.2);
}

.field__deck {
  max-width: 50px;
  height: auto;
  background-color: #730f9e;
  padding: 10px 5px;
  box-shadow: 1px 1px 7px 0px grey;
  transition: transform .3s;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.field__deck:hover {
  transform: translateY(-50%) scale(1.2);
}

.field__card-behind-deck {
  max-width: 50px;
  height: auto;
  background-color: #730f9e;
  padding: 10px 5px;
  box-shadow: 1px 1px 7px 0px grey;
  transition: transform .3s;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.field__card-behind-deck--animated-one {
  animation: card-animate-one .3s linear;
  animation-iteration-count: 1;
}

@keyframes card-animate-one {
  0% {
    left: 10px;
    top: 50%;
    opacity: 1;
  }

  100% {
    left: 40%;
    top: 70%;
    opacity: 0;
  }
}

.field__card-behind-deck--animated-two {
  animation: card-animate-two 1s ease;
  animation-iteration-count: 1;
}

@keyframes card-animate-two {
  0% {
    left: 10px;
    top: 50%;
    opacity: 1;
  }

  100% {
    left: 30%;
    top: 30%;
    opacity: 0;
  }
}

.field__card {
  max-width: 40px;
  background-color: #730f9e;
  box-shadow: 1px 1px 7px 0px grey;
  margin: 5px;
  padding: 5px 2px;
}

.field__card__info {
  margin: 0;
  padding: 0;
  text-align: center;
}

.field__card:hover {
  transform: scale(1.1);
}

/* when a user clicks on a card */
.field__card--expanded {
  transform: scale(3);
}

.field__hand-two {
  width: 100%;
  max-height: 50px;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}

.field__hand-one {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap-reverse;
  max-height: 50px;
  position: absolute;
  bottom: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.typed-instructions {
  max-width: 160px;
  text-align: center;
}