.overlay {
  background-color: rgba(255, 255, 255, 0.65);
  width: 70vw;
  height: 75vh;
  border-radius: 20px;
  box-shadow: 0px 6px 20px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 32);
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}

/* ================ */
/*TYPED INTRO */
/*================ */

.typed-intro {
  font-size: 4em;
  text-align: center;
}

@media (max-width: 500px) {
  .typed-intro {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  .typed-intro {
    font-size: 3em;
  }
}

/* ================ */
/*PICKING SHIP */
/*================ */

.choose-ship {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pick-instructions {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all 2s linear;
}

.ships {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ships__ship,
.ships__ship:active,
.ships__ship:focus {
  background: transparent;
  margin: 5px;
  border: none;
  padding: 0;
}

.ships__ship:focus {
  outline: -webkit-focus-ring-color #97640559 1px;
}

.ships__ship__image {
  width: 80px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(255, 177, 1, 0.42);
  display: inline-block;
  margin: 0px;
  transition: transform 0.2s;
  cursor: pointer;
  border: 3px solid #97640559;
}

.spaceship:hover {
  transform: scale(1.2);
}

/* SHIP AVATARS */

.overlay__avatar-one {
  max-width: 50px;
  height: auto;
  background-color: rgba(255, 177, 1, 0.42);
  border: 3px solid #97640559;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.overlay__avatar-two {
  max-width: 50px;
  height: auto;
  background-color: rgba(255, 177, 1, 0.42);
  border: 3px solid #97640559;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* MEDIA QUERIES */

/* SPACESHIP SIZE FOR BIGGER SCREENS */

/* .spaceship {
  width: 180px;
  height: 230px;
  border-radius: 30px;
  background-color: rgba(255, 177, 1, 0.42);
  display: inline-block;
  margin: 20px;
  transition: transform .2s;
  cursor: pointer;
  border: 3px solid #97640559;
} */